// COLORS
$primary-color: #2980B9;
$secondary-color: #FFFFFF;

$white-color: #231849;

$dark-grey: #231849;

$dark-blue-text: #fdeff9; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 6rem;
$mid-font-size: 4rem;
