// COLORS
$primary-color: #c0c0aa;
$secondary-color: #1cefff;

$white-color: #000428;

$dark-grey: #000428;

$dark-blue-text: #e64fe6; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 6rem;
$mid-font-size: 4rem;
